<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"

       default-lazy-init="false"
       default-init-method="initObject"
       default-destroy-method="destroyObject"><!--Данные методы вызываются по-умолчанию,
                                    если их в каком-то объекте не будет, то ничего не произойдёт-->

    <!--!ПАРАМЕТРЫ
        1. scope - отвечает за количество создаваемых экземпляров:
            * singleton - при вызове метода getBean вызывается один и тот же объект
            * prototype - при вызове метода GetBean создаётся новый объект
        2. init-method("имя метода") - метод вызывается при создании объекта
        3. destroy-method("имя метода") - метод вызывается при удалении объекта
        4. lazy-init(для определённого "bean") / default-lazy-init
                    - теперь объект будут сосздаваться только при вызове его в методе getBean
        5. depends-on - указывает на то, что данный bean1 завивсит от другого bean2 и bean1 будет проинициализирован после инициализации bean2
        6. parent - позоляет наследовать бины
        7. abstract - указывает на абстрактность бина
        8. lookup-method - вызывает метод у класса для создания объекта(Method Injection). Происходит при помощи абстрактного класса и его абстрактного метода
        9. replaced-method - позволяет заменить реализацию какого-то(любого) метода в каком-либо бине
    -->


    <import resource="RobotContext.xml"/>

        <!--RobotBuilder-->
    <bean id="t1000builder" class="spring.model.BuilderT1000">
        <lookup-method name="createRobot" bean="sonyT1000"/>
    </bean>

    <bean id="t1000Pool" class="spring.model.ModelT1000Pool">
        <constructor-arg name="robots"> <!--Куда записываем, можно также м через property-->
            <map>
                <entry key="1" value-ref="sonyT1000"/>
                <entry key="2" value-ref="toshibaT1000"/>
            </map>
        </constructor-arg>
    </bean>
</beans>